<div class="card w-100" style="background-color: #1C2228; padding: 15px"> 
    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Edit Student</strong>
    </h5>
    <form class="center" [formGroup]="EditForm" (ngSubmit)="onSubmit()">
        <div class="md-form">
      <label > ID </label>
      <input mdbInput type="text" id="crn" class="form-control" formControlName="ID" >
      <span 
      *ngIf="!EditForm.get('ID').valid && EditForm.get('ID').touched"
      class="help-block">Please enter a valid student ID</span>
    </div>
    <div class="md-form">
      <label > Name </label>
     <input mdbInput type="text" class="form-control" id="Name" formControlName="Name">
     <span 
      *ngIf="!EditForm.get('Name').valid && EditForm.get('Name').touched"
      class="help-block">Please enter a valid Name</span> 
    </div>
    <div class="md-form">
      <label >Email</label>
      <input mdbInput type="text"  class="form-control" formControlName="Email" >
      <span 
      *ngIf="!EditForm.get('Email').valid && EditForm.get('Email').touched"
      class="help-block">Please enter a valid student Email</span>
      </div>
      <div class="md-form">
      <label > Phone </label>
      <input mdbInput type="text" class="form-control" formControlName="Phone" >
      <span 
      *ngIf="!EditForm.get('Phone').valid && EditForm.get('Phone').touched"
      class="help-block">Please enter a valid Phone Number</span>
      </div>
      <div class="md-form">
      <label > Gender </label>
      <input mdbInput type="text" class="form-control" formControlName="Gender">
      <span 
        *ngIf="!EditForm.get('DOB').valid && EditForm.get('DOB').touched"
        class="help-block">Please select a Date of Birth</span>
      </div>
      <div class="md-form">
      <label > Team ID </label>
      <input mdbInput type="text" class="form-control" formControlName="TeamID">
      </div>
      <div class="md-form">
        <input mdbInput type="date" id="input" class="form-control" mdbInput formControlName="DOB">
        <label > Date of Birth </label>
      </div>
      <div style="padding-top: 20px;">
        <button mdbBtn class="btn btn-success"  rounded="true" size="md" type="submit"> Save Changes </button>
        <button (click)="onCancel()" type="button" mdbBtn color="danger" rounded="true" size="md" class="my-0" >Cancel</button>
    </div>
      
  </form>
       
        
  
    </div>
  