<div style="position: center; padding-left:200px;padding-right:200px; min-height:529px;">
    <h1 style="padding:15px">Add a Student</h1>
        <table style="width:700px; padding: 15px">
            <thead>
                <th style="width:30%">Student ID</th><th style="width:30%">Student Name</th><th></th>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td style="width:30%">{{student.studentid}}</td>
                    <td style="width:30%">{{student.name}}</td>
                    <td ><button mdbBtn class="btn btn-success" rounded="true" (click)="addStudent(student.studentid)">Add</button></td>
                </tr>
            </tbody>
        </table>
</div>