
<table cellspacing="0" cellpadding="0" style="border-collapse: collapse; height:529px;">
    <tr>
        <td width="30%" valign="top" >
            <table class="table" >
                <thead>
                    <th >Student ID</th>
                    <th  >Name</th>
                    <th style="width: 20%;"><a routerLink="AddStudent" style="float:right; border-radius: 0px; padding: 0px;   border:0px; " ><button type="button" mdbBtn class="btn btn-success"   size="sm"  rounded="true" >Add Student</button></a></th>
                    
                </thead>
                <tbody style="height: 100%;">
                    <tr *ngFor="let student of students" class="make-hover" [ngClass]="{highlighted: student.studentid === selectedStudent.studentid}" (click)="selectStudent(student.studentid)">
                        <td style="width: 40%">{{student.studentid}}</td>
                        <td style="width: 60%">{{student.name}}</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td width="70%" style=" border-left-color: white;border-bottom-width: 0px;border-top-width: 1px; border-left-width: 1px; border-style: solid; border-right-width:0px ;">
            <div style="height:100%; padding: 20px; background-color: transparent; color:white;">
                <div style="text-align: center;">
                    <div class="btn-group" role="group" *ngIf="selectedStudent.name !== 'Please select a Student'" >
                        <div>
                       <button type="button" mdbBtn class="btn btn-info"   size="md"  rounded="true" routerLink="EditStudent">Edit</button> </div>
                       <div>
                        <button type="button" mdbBtn class="btn btn-danger"  size="md"  rounded="true" (click)="delete(selectedStudent.studentid)">Delete</button>
                    </div>
                    </div>
                    <hr *ngIf="selectedStudent.name !== 'Please select a Student'" color="white">
                    <h1 >{{selectedStudent.name}}</h1>
                    <hr color="white">
                </div>
                <table style="width:100%;">
                <tr>
                <td style="padding:10px; width:50%; border-right-width: 1px; border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-color: white; border-style: solid;">
                <p>ID Number : {{ selectedStudent.studentid }}</p>
                <p>Email Address : {{ selectedStudent.email }}</p>
                <hr color="white">
                <div *ngIf="change === false && selectedStudent.name !== 'Please select a Student'">
                    <div style="display: block" >
                      <canvas *ngIf="change === false && selectedStudent.name !== 'Please select a Student'" baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                      </canvas>
                    </div>
                </div>
                </td>
                <td style="width:50%; padding:10px">
                    <p>Phone: {{selectedStudent.phone}}</p>
                    <p>Date of Birth: {{selectedStudent.dob}}</p>
                    <p>Gender: {{selectedStudent.gender}}</p>
                </td>
                </tr>
                </table>
            </div>
        </td>
    </tr>
</table>