<div style="min-height: 529px; padding: 15px">
    <div class="card" style="min-height: 300px; width: 800px; color:black;" *ngFor="let team of teams" >
        <div class="card-header" >
          <h3 class="card-title">{{team.teaM_NAME}}</h3>
        </div>
        <div class="card-body">
            <p>Description : {{team.project_Desc}}</p>
            <hr>
            <p>Creation Date : {{team.creatioN_DATE}}</p>
            <button (click)="delete(team.teaM_ID,team.projID)">Delete</button>
        </div>
    </div>
</div>

